body{
    background-color: rgb(15, 1, 1);
    font-family:sans-serif;
}
 span,p{
    color: rgb(255, 255, 255);
 }
 header{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    height: 100px;
    align-items: center;
 }
 .menu {
    list-style-type: none;
    display: flex;
    margin: 0; 
    padding: 0;
    gap: 32px;
} 

.main-menu {
    color: white;
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
}

.main-menu > a {
    text-decoration: none;
    color: white;    
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0px;
    position: relative;
}
.hero-section{
    font-size: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 220px 112px 42px 112px;
    text-align: center;
    gap: 200px;
    
}
.hero-section1{
    color: #E3E4E6;    
    font-weight: 600;
}
p{
    color:hsla(220, 6%, 90%, 0.55);
}

.clients{
    padding: 0 100px;
}

.clients> h2{
    font-size: 40px;
    font-weight: 300;
    color:hsla(220, 6%, 90%, 0.55);
    line-height: 150%;
}
.clients1{
    font-weight: 600; 
    color: white;
}
.c-logos{
    display: flex;
    justify-content: space-between;
}


.works{
    padding-inline: 110px;
    padding-block: 80px 120px;
}


h1 {
    font-size: 40px;
    font-weight: 300;
    color:hsla(220, 6%, 90%, 0.55);
    line-height: 150%;
    text-transform: uppercase;
}

h3 {
    font-size: 40px;
    font-weight: 300;
    color:hsla(220, 6%, 90%, 0.55);
    line-height: 150%;
    text-transform: uppercase;
}
h4 {
    font-size: 40px;
    font-weight: 300;
    color:hsla(220, 6%, 90%, 0.55);
    line-height: 150%;
    text-transform: uppercase;
}
h5 {
    font-size: 40px;
    font-weight: 300;
    color:hsla(220, 6%, 90%, 0.55);
    line-height: 150%;
    text-transform: uppercase;
}
h6 {
    font-size: 40px;
    font-weight: 300;
    color:hsla(220, 6%, 90%, 0.55);
    line-height: 150%;
    text-transform: uppercase;
}
.work_item {
    display: flex;
    margin-top: 97px;
    gap: 32px;
}

.work__description {
    color: white;
    padding-top: 183px;
}
.work__description p {
    font-size: 32px;
    line-height: 150%;
    color:hsla(220, 6%, 90%, 0.55);
    margin-top: 16px;
}
p .work__description-accent {
    color: white;
    font-weight: 600;
}



.work_tag {
    font-size: 18px;
    line-height: 150%;
    font-weight: 300;
    color:hsla(219, 7%, 46%, 0.55);
    margin-block: 24px 32px;
}
.work_tag1{
    color:hsla(220, 6%, 90%, 0.55);
}

button{
    border-radius: 20px;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    border: 2.5px solid #E3E4E6;
}
.spon{
    display: flex;
    justify-content: space-around;
}
.клиент> p{
    text-align: center;   
    font-size: 56px;
    margin: 0px;

}
.spon1{
    text-align: center;
    padding: 0px;
    margin: 0px;
    
}
.клиент2{
    color:hsla(220, 6%, 90%, 0.55);
}

.fotter_title,.footer_description{
    text-align: center;
    color:#fff;
  }
  .footer_icons{
    color: rgb(88, 87, 87);
    text-align: center;
    display: flex; 
    justify-content:space-around;/*Спросить*/
  }
  .footer{
    display: flex;
    justify-content: center;
    color: #fff;
  }
  
  .footer_copyright{
    text-align: center;
    color:#fff;
    padding-top: 20px;
  }
  